<p><%= I18n.t('devise.mailer.reset_password_instructions.intro_message', email: @resource.email) %></p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.content') %></p>

<p><%= link_to I18n.t('devise.mailer.reset_password_instructions.link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>
